<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ぺーじたいとる</title>
  <style>* {margin: 0; padding: 0; box-sizing: border-box;} body {font-family: "Arial", sans-serif; background-color: #f4f4f4; color: #333; line-height: 1.6; padding-top: 50px;} header {text-align: center; padding: 30px 0;} h1 {font-size: 48px; color: #50b3a2; letter-spacing: 2px;} .line {width: 60%; height: 2px; background-color: #50b3a2; margin: 0 auto; position: relative;} .half-circle {position: absolute; left: -15px; top: -5px; width: 30px; height: 30px; border-radius: 50%; background-color: #50b3a2;} .button-container {text-align: center; margin-top: 40px;} .btn {background-color: #50b3a2; color: white; font-size: 16px; padding: 10px 20px; border-radius: 6px; border: none; cursor: pointer; transition: background-color 0.3s; margin: 0 10px;} .btn:hover {background-color: #3d9f8d;} .btn:focus {outline: none;} .description {text-align: center; margin-top: 50px; padding: 0 20px; font-size: 18px; line-height: 1.8; max-width: 80%; margin-left: auto; margin-right: auto;} .terms {background-color: #fff; padding: 30px 20px; margin-top: 50px; text-align: center; border-top: 2px solid #50b3a2; max-width: 80%; margin-left: auto; margin-right: auto; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);} .terms h2 {font-size: 28px; color: #50b3a2; margin-bottom: 20px;} .terms p {font-size: 16px; color: #555; line-height: 1.6; margin-bottom: 10px;} .terms ul {list-style-type: none; padding: 0; margin-bottom: 20px;} .terms ul li {font-size: 16px; color: #555; margin-bottom: 10px;} #IdForm {display: flex; justify-content: center; margin-top: 20px; padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);} #IdForm input {padding: 12px; font-size: 18px; border: 2px solid #ddd; border-radius: 8px; margin-right: 10px; width: 60%;} #IdForm button {padding: 12px 20px; font-size: 18px; background-color: #50b3a2; color: white; border: none; border-radius: 8px; cursor: pointer; transition: background-color 0.3s ease;} #IdForm button:hover {background-color: #3e9b83;} #IdForm p {text-align: center; color: #d9534f; font-size: 16px; margin-top: 20px;}</style>
</head>
<body>
  <header>
    <h1>タイトル</h1>
    <div class="line-container">
      <div class="line">
      </div>
    </div>
  </header>
  <section class="description">
    <p>うわわわっわっわー</p>
  </section>
<section class="terms">
  <h2>見出し</h2>
  <p>あめあめ</p>
</section>
<section class="terms">
  <h2>見出し2</h2>
  <p>ぼーるぺん</p>
  <strong>しゃーぺん</strong>
  <p>
    うわぁい(⌒▽⌒)
  </p>
</section>
<section class="terms">
  <h2>見出し3</h2>
  <p>みみみ<br>
  テキスト</p>
</section>                  
</body>
</html>