<html>
  <head>
    <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
  </head>
  <body>
    <video id="videoPlayer" controls>
      <source src="/live/cfVLvZza8ic" type="application/dash+xml" />
    </video>

    <script>
      var url = "/live/cfVLvZza8ic";
      var player = dashjs.MediaPlayer().create();
      player.initialize(document.querySelector("#videoPlayer"), url, true);
    </script>
  </body>
</html>
