<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>わかめedu</title>
  <link rel="stylesheet" href="/css/eduhome.css">
</head>
<body>
  <header>
    <h1>わかめedu</h1>
    <div class="line-container">
      <div class="line">
      </div>
    </div>
  </header>
  <div class="button-container">
    <button class="btn btn-create" onclick="window.location.href='/edu/f/cr'">ページを作成</button>
    <button class="btn btn-edit" onclick="window.location.href='/edu/f/ed'">ページを編集</button>
    <button class="btn btn-search" onclick="window.location.href='/edu/f/ser'">ページを探す</button>
  </div>
  <section class="description">
    <p>「わかめedu」は、登録不要で使えるページ作成ツールです。HTMLから簡単にページを作成し、編集・保存することができます。</p>
  </section>
<section class="terms">
  <h2>利用規約</h2>
  <ul>
    <li>ユーザーは、サービスを合法的な目的でのみ利用することが求められます。</li>
    <li>意味不明なページの作成は控えて下さい。削除します</li>
    <li>ユーザーが作成したコンテンツについて、責任を負いません。</li>
    <li>サービスは予告なく変更または終了することがあります。</li>
    <li>利用規約は随時更新されることがあります。</li>
  </ul>
  <p>利用規約に同意する場合は、サービスの利用を続けてください。</p>
</section>
<section class="terms">
  <h2>このサイトを複製する</h2>
  <p>このサイトは誰でも簡単に複製でき、作成した瞬間からそのサイトからもサイトの作成や閲覧をお楽しみいただけます！</p>
  <strong>github</strong>
  <p>
    <a href="https://github.com/sadaramagura/wakame">https://github.com/sadaramagura/wakame</a>
  </p>
</section>
<section class="terms">
  <h2>お問い合わせ</h2>
  <p>サイトの都合上、フォーム対応が少しだるいので、気合いで問い合わせてください。<br>
  「わかめ」と言う人がネット上のどっかにいるので探せ。以上</p>
</section>     
<section class="terms">
  <h2>法的な問題について</h2>
  <p><a href="/send">こちら</a>から法的な問題のみお問い合わせいただけます。<br></p>
</section>
</body>
</html>
